DBName{{deploymentid}}: mysqldb
DBInstanceClass{{deploymentid}}: db.t2.micro
DBAllocatedStorage1{{deploymentid}}: 50
DBAllocatedStorage2{{deploymentid}}: 200
DBUsername{{deploymentid}}: mysqldbuser
DBPassword{{deploymentid}}: password
EngineName{{deploymentid}}: mysql
EngineVersion{{deploymentid}}: 5.7.19
Storagetype{{deploymentid}}: io1
iops{{deploymentid}}: 1000
maxallocatedstorage{{deploymentid}}: 1000
AllowMajorVersionUpgrade{{deploymentid}}: 'false'
AutoMinorVersionUpgrade{{deploymentid}}: 'true'
MultiAvailabilityZone{{deploymentid}}: 'true'
Monitoringinterval{{deploymentid}}: 60