VPCID: "{{t61fb21ae.VPCID}}"
PublicSubnet1ID: "{{t61fb21ae.PublicSubnet1ID}}"
PublicSubnet2ID: "{{t61fb21ae.PublicSubnet2ID}}"
PrivateSubnet1ID: "{{t61fb21ae.PrivateSubnet1ID}}"
PrivateSubnet2ID: "{{t61fb21ae.PrivateSubnet2ID}}"
PrivateSubnetAZ1: "{{t61fb21ae.PrivateAvailabilityZone1}}"
PrivateSubnetAZ2: "{{t61fb21ae.PrivateAvailabilityZone2}}"
PublicSubnetAZ1: "{{t61fb21ae.PublicAvailabilityZone1}}"
PublicSubnetAZ2: "{{t61fb21ae.PublicAvailabilityZone2}}"