UserEnvironmentName: VPC
InternetGatewayRoute: 0.0.0.0/0
VpcCIDR: "{{TEMPLATE.VpcCIDR}}"
PublicSubnet1CIDR: "{{TEMPLATE.PublicSubnet1CIDR}}"
PublicSubnet2CIDR: "{{TEMPLATE.PublicSubnet2CIDR}}"
PrivateSubnet1CIDR: "{{TEMPLATE.PrivateSubnet1CIDR}}"
PrivateSubnet2CIDR: "{{TEMPLATE.PrivateSubnet2CIDR}}"