{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "ecstaskpullimage{{apenvironment.deploymentid}}",
            "Effect": "Allow",
            "Action": [
                "logs:*",
                "ecr:*"
            ],
            "Resource": "*"
        }
    ]
}