PoolName: vishal123
CertificateARN: arn:aws:acm:us-east-1:932942305692:certificate/4a175e9a-a53b-4bd0-9c7b-76dfce897f18
HostedZoneId: Z04409892JN2ZETTAF2F7
DOMAINNAME: vishal.archeplay.com
ClientName: test1234