Hostedzone: "{{TEMPLATE.d05ff5ec1.HostedZoneId}}"
DomainName: "{{TEMPLATE.d05ff5ec1.DomainName}}"
Certificate: "{{TEMPLATE.d05ff5ec1.CertificateARN}}"
VPCID: "{{TEMPLATE.d221600d9.VPCID}}"
PublicSubnet1ID: "{{TEMPLATE.d221600d9.PublicSubnet1ID}}"
PublicSubnet2ID: "{{TEMPLATE.d221600d9.PublicSubnet2ID}}"
PrivateSubnet1ID: "{{TEMPLATE.d221600d9.PrivateSubnet1ID}}"
PrivateSubnet2ID: "{{TEMPLATE.d221600d9.PrivateSubnet2ID}}"
KeyName: "archeplaykeypairdev10"
DynamodbPolicyRW: "arn:aws:iam::865927642493:policy/productdb-a1234-dynamodbrole"
AMIId: "ami-0c26850e9ef99c214"
InstanceType: "{{TEMPLATE.InstanceType}}"
MinSizeASGs: "{{TEMPLATE.MinSizeASGs}}"
DesiredCapacityASG: "{{TEMPLATE.DesiredCapacityASG}}"
MaxSizeASGs: "{{TEMPLATE.MaxSizeASGs}}"
LoadBalancerHealthCheckIntervalSeconds: "{{TEMPLATE.LoadBalancerHealthCheckIntervalSeconds}}"
InstancePort: "{{TEMPLATE.InstancePort}}"
InstanceProtocol: "{{TEMPLATE.InstanceProtocol}}"
LoadBalancerHealthCheckTimeoutSeconds: "{{TEMPLATE.LoadBalancerHealthCheckTimeoutSeconds}}"
LoadBalancerHealthyThresholdCount: "{{TEMPLATE.LoadBalancerHealthyThresholdCount}}"
LoadBalancerUnhealthyThresholdCount: "{{TEMPLATE.LoadBalancerUnhealthyThresholdCount}}"
AutoscalingTargetValue: "{{TEMPLATE.AutoscalingTargetValue}}"
ASGCoolDown: "{{TEMPLATE.ASGCoolDown}}"
EstimatedInstanceWarmup: "{{TEMPLATE.EstimatedInstanceWarmup}}"
EmailAddress: "{{TEMPLATE.EmailAddress}}"
Version: "{{TEMPLATE.apidefinition.apistage}}"