apiname: "{{TEMPLATE.apiname}}"
AppType: "{{TEMPLATE.AppType}}"
apidefinition: "{{TEMPLATE.apidefinition}}"
EndpointConfigurationTypes: "{{TEMPLATE.EndpointConfigurationTypes}}"
DomainName: "{{td6b802f6.DomainName}}"
Loadbalancerdnsname: "{{t384b602c.LoadBalancerDNSName}}"
AWSRegion: "{{apenvironment.region}}"
account_id: "{{ap.accountid}}"